.git
.env
.env.*
!.env.example
.phpunit.result.cache
auth.json
node_modules
vendor
public/build
public/hot
public/storage
bootstrap/cache/*.php
storage/app/**
storage/logs/**
database/*.sqlite*
mobile
tests